---
id: index
title: Homepage
jumbotitle: This is the homepage
---
<div>
  <img src="{{jeleIsland.image.src}}" class="{{jeleIsland.image.class}}" usemap="#{{jeleIsland.map.name}}" >
  <map name="{{jeleIsland.map.name}}" id="{{jeleIsland.map.name}}">
    {{#each jeleIsland.map.links}}
      {{#each this.coords}}
        <area alt="{{../name}}" title="{{../name}}" href="{{../href}}" shape="poly" coords="{{this}}"/>
      {{/each}}
    {{/each}}
  </map>
</div>
