<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <address class="panel panel-primary">
      <div class="panel-heading text-center">
        <h3 class="panel-title">{{title}}</h3>
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="media-left media-middle">
            <img class="media-object img-circle" width="64" height="64" src="/assets/images/jele77media.jpg" alt="Jele77">
          </div>
          <div class="media-body">
            <dl class="dl-horizontal">
            {{#each links}}
              <dt>
                <p>{{name}} <i class="fa {{faIcon}}" aria-hidden="true"></i></p>
              </dt>
              <dd>
                <p><a href="{{url}}">{{text}}</a></p>
              </dd>
            {{/each}}
            </dl>
          </div>
        </div>
      </div>
    </address>
  </div>
</div>
